
<div style="height: 50px"></div>

<div class="container">
  <h3>Lista de motivos</h3> <button class="btn btn-success mt-2" (click)="agregarMotivo()">Agregar Motivo</button>
  <div class="alert alert-primary" *ngIf="error == 0" role="alert">
    Motivo añadido o actualizado con exito.
  </div>
  <div class="alert alert-danger" *ngIf="error == 1" role="alert">
    Error al agregar el motivo
  </div>

  <div class="row" *ngFor="let el of lista; let i = index" class="p-2 mb-2 mt-2" style="border: 1px rgb(201, 201, 201) solid">
    <div class="col-12">  
      <h3><small>Nombre:</small> <input class="form-control" [formControl]="nombreFormControls[el.id]"></h3>
    </div>
    <div class="col-12">
      <h3><small>Descripción:</small> <input class="form-control" [formControl]="descripcionFormControls[el.id]"></h3>
    </div>
    <div class="col-12">
      <h3><small>Operación:</small> 
        <select class="form-control" [formControl]="operationFormControls[el.id]">
          <option value="1">Suma</option>
          <option value="0">Resta</option>
        </select>
      </h3>
    </div>
    <button class="btn btn-primary" (click)="updateCreate(i)">Actualizar</button>
  </div>


</div>